<# References section #>
\section{<< section.title | escape_latex >>}

<% if section.reference_entries %>
<% for entry in section.reference_entries %>
<% if not loop.first %>\vspace{<< style.spacing.entry_gap >>}<% endif %>
<% set title_org %>
<% if entry.title and entry.organization -%>
<< entry.title | escape_latex >> at << entry.organization | escape_latex >>
<%- elif entry.title -%>
<< entry.title | escape_latex >>
<%- elif entry.organization -%>
<< entry.organization | escape_latex >>
<%- endif -%>
<% endset %>
\cvref{<< entry.name | escape_latex >>}{<< entry.relationship | escape_latex if entry.relationship else '' >>}{<< title_org | trim >>}{<< entry.email | escape_latex if entry.email else '' >>}
<% endfor %>
<% else %>
<< section.raw_content | md_latex >>
<% endif %>
